*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: url("images/path.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 2em;
  background: var(--dark-gray-color) no-repeat center center fixed;
  background-size: cover;
  max-width: 1200px;
  opacity: 0.9;
  /* min-height: 100vh; */
  border: 3px solid var(--beige-color);
  border-radius: 25px;
  margin: 1em;
}

:root {
  /* Mobile and tablet font sizes */
  --font-size-main-heading: 2rem;
  --font-size-heading-small: 1.4rem;
  --font-size-heading-smaller: 1rem;
  --font-size-heading-smallest: .9rem;

  /* Small laptop and above font sizes */

  --font-size-small-laptop: 4rem;
  --font-size-small-laptop-small: 2.8rem;
  --font-size-small-laptop-smaller: 2rem;
  --font-size-small-laptop-smallest: 1.5rem;


  /* 4k font sizes */

  --font-size-4k: 8rem;
  --font-size-4k-small: 5.6rem;
  --font-size-4k-smaller: 4rem;
  --font-size-4k-smallest: 3rem;

  /* Background colors */

  --beige-color: #F8FAF7;
  --dark-gray-color: #B2BBC1;

}

/* Form */

.search-form-container {
  display: flex;
  justify-content: center;
  gap: .2em;
}

input,
button {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: var(--beige-color);
}

input {
  padding: .1em;
  text-indent: .7em;
}

button {
  padding: .2em .4em;
}

/* Content */

.main-heading {
  font-size: var(--font-size-main-heading);
}

h1 {
  font-size: var(--font-size-heading-small);
}

h3 {
  font-size: var(--font-size-heading-smaller);
}

p {
  font-size: var(--font-size-heading-smallest);
}

/* Media Queries */

@media (min-width: 1024px) {

  .main-heading {
    font-size: var(--font-size-small-laptop);
  }

  h1 {
    font-size: var(--font-size-small-laptop-small);
  }

  input,
  button {
    border-radius: 20px;
  }

  h3,
  input,
  button,
  .no-result-text {
    font-size: var(--font-size-small-laptop-smaller);
  }

  p {
    font-size: var(--font-size-small-laptop-smallest);
  }
}

@media (min-width: 2560px) {

  .main-heading {
    font-size: var(--font-size-4k);
  }

  h1 {
    font-size: var(--font-size-4k-small);
  }

  input,
  button {
    border-radius: 40px;
  }

  h3,
  input,
  button,
  .no-result-text {
    font-size: var(--font-size-4k-smaller);
  }

  p {
    font-size: var(--font-size-4k-smallest);
  }
}