*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

:root {
  --font-size-main-heading: 2rem;
  --font-size-heading-small: 1.4rem;
  --font-size-heading-smaller: 1rem;
}

.main-heading {
  font-size: var(--font-size-main-heading);
}

h1 {
  font-size: var(--font-size-heading-small);
}

h3 {
  font-size: var(--font-size-heading-smaller);
}