*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --font-size-heading: 1.8rem;
}

h1 {
  font-size: var(--font-size-small);
}